In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./국립암센터_암발생 통계 정보_20250108.csv")

In [6]:
df

            발생연도    성별                 국제질병분류    암종     연령군    발생자수   조발생률
0           1999  남녀전체        00. All cancers   모든암  00-04세     539   16.1
1           1999  남녀전체        00. All cancers   모든암  05-09세     297    8.6
2           1999  남녀전체        00. All cancers   모든암  10-14세     306    9.6
3           1999  남녀전체        00. All cancers   모든암  15-19세     528   13.2
4           1999  남녀전체        00. All cancers   모든암  20-24세     720   18.4
...          ...   ...                    ...   ...     ...     ...    ...
35620  1999-2022    여자  24. All other cancers  기타 암  70-74세   19745   96.7
35621  1999-2022    여자  24. All other cancers  기타 암  75-79세   21422  136.3
35622  1999-2022    여자  24. All other cancers  기타 암  80-84세   18511  178.9
35623  1999-2022    여자  24. All other cancers  기타 암   85세이상   16793  220.2
35624  1999-2022    여자  24. All other cancers  기타 암    연령전체  168118   28.2

[35625 rows x 7 columns]

In [3]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.shape

(35625, 7)

In [8]:
df.head(3)

   발생연도    성별           국제질병분류   암종     연령군  발생자수  조발생률
0  1999  남녀전체  00. All cancers  모든암  00-04세   539  16.1
1  1999  남녀전체  00. All cancers  모든암  05-09세   297   8.6
2  1999  남녀전체  00. All cancers  모든암  10-14세   306   9.6

In [10]:
type(df['발생연도'])

pandas.core.series.Series

In [11]:
type(df['발생연도'].values)

numpy.ndarray

In [12]:
import numpy as np

vector = np.array([1, 2, 3, 4, 5])

In [14]:
vector * 5

array([ 5, 10, 15, 20, 25])

In [15]:
type(df.iloc[0, :])

pandas.core.series.Series

In [16]:
df.iloc[0, :].values

array(['1999', '남녀전체', '00. All cancers', '모든암', '00-04세', np.int64(539),
       np.float64(16.1)], dtype=object)

In [17]:
!pip install scipy

Collecting scipy
  Downloading scipy-1.13.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: numpy<2.3,>=1.22.4 in /home/kdt_43/miniconda3/lib/python3.9/site-packages (from scipy) (2.0.2)
Downloading scipy-1.13.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.6/38.6 MB 28.3 MB/s  0:00:01 eta 0:00:01
Installing collected packages: scipy
Successfully installed scipy-1.13.1

In [ ]:
import scipy

In [18]:
data = np.array(range(10)) + 1

In [19]:
data.var()

np.float64(8.25)

In [20]:
pd.DataFrame(data).var()

0    9.166667
dtype: float64

In [21]:
data.std()

np.float64(2.8722813232690143)

In [22]:
pd.DataFrame(data).std()

0    3.02765
dtype: float64

값이 다른 이유는 numpy는 수학적으로 접근해서 분산을 구해서, data.std()는 자유도가 없이 그냥 계산해서 그럼.

둘이 생각하는게 달라서 그런거라고 생각하면됨.

In [23]:
0.1 + 0.2

0.30000000000000004

In [24]:
df.loc[1:3, ['발생연도', '암종']]

   발생연도   암종
1  1999  모든암
2  1999  모든암
3  1999  모든암

In [25]:
def get_ab(a, b):
    return a + b

In [26]:
get_ab(10, 20)

30

In [27]:
(lambda a, b : a + b)(10, 20)

30

In [28]:
df

            발생연도    성별                 국제질병분류    암종     연령군    발생자수   조발생률
0           1999  남녀전체        00. All cancers   모든암  00-04세     539   16.1
1           1999  남녀전체        00. All cancers   모든암  05-09세     297    8.6
2           1999  남녀전체        00. All cancers   모든암  10-14세     306    9.6
3           1999  남녀전체        00. All cancers   모든암  15-19세     528   13.2
4           1999  남녀전체        00. All cancers   모든암  20-24세     720   18.4
...          ...   ...                    ...   ...     ...     ...    ...
35620  1999-2022    여자  24. All other cancers  기타 암  70-74세   19745   96.7
35621  1999-2022    여자  24. All other cancers  기타 암  75-79세   21422  136.3
35622  1999-2022    여자  24. All other cancers  기타 암  80-84세   18511  178.9
35623  1999-2022    여자  24. All other cancers  기타 암   85세이상   16793  220.2
35624  1999-2022    여자  24. All other cancers  기타 암    연령전체  168118   28.2

[35625 rows x 7 columns]

In [29]:
df['성별'].unique()

array(['남녀전체', '남자', '여자'], dtype=object)

In [30]:
df['성별'].apply(lambda x : 'x' if x == "남녀전체" else x)

0         x
1         x
2         x
3         x
4         x
         ..
35620    여자
35621    여자
35622    여자
35623    여자
35624    여자
Name: 성별, Length: 35625, dtype: object

In [34]:
def tmp(x):
    if x == "남녀전체":
        return '9'
    else:
        return x

In [35]:
df['성별']

0        남녀전체
1        남녀전체
2        남녀전체
3        남녀전체
4        남녀전체
         ...
35620      여자
35621      여자
35622      여자
35623      여자
35624      여자
Name: 성별, Length: 35625, dtype: object